pkgbase = flexbv-bin
	pkgdesc = FlexBV Free Professional Boardview
	pkgver = 5.0360
	pkgrel = 1
	url = https://pldaniels.com/flexbv5/
	arch = x86_64
	license = custom
	depends = sdl2
	depends = fontconfig
	depends = sqlite
	depends = zlib
	depends = gtk3
	depends = libpng
	conflicts = flexbv-beta-bin
	source = flexbv-bin-5.0360.tar.gz::https://pldaniels.com/flexbv5/free/FlexBVFree-5.0360-linux.tar.gz
	source = flexbv.desktop
	source = flexbv-free-icon.svg::https://pldaniels.com/flexbv5/assets/flexbv-free-icon.svg
	sha256sums = 1bcfd1fa10a47a940505f6c4916f0e2ed4b36a054715baa60f8a23efe61a2ee4
	sha256sums = 56936437f993094afc3d81da94f3ea7cf124e803fa1ebae90a946784ad718269
	sha256sums = 4e45f984734fcfb402d265955439ccdfb2f60c8634e46f9e3d8c1ba434f8293c

pkgname = flexbv-bin
