pkgbase = flexbv-bin
	pkgdesc = FlexBV Free Professional Boardview
	pkgver = 5.0345
	pkgrel = 1
	url = https://pldaniels.com/flexbv/
	arch = x86_64
	license = custom
	depends = sdl2
	depends = fontconfig
	depends = sqlite
	depends = zlib
	depends = gtk3
	depends = libpng
	conflicts = flexbv-beta-bin
	source = flexbv-bin-5.0345.tar.gz::https://pldaniels.com/flexbv5/free/FlexBVFree-5.0345-linux.tar.gz
	source = flexbv.sh
	sha256sums = 2d32022186881e4d6930901bf0c7c820330a6c0a58d6e756f72951a09590e703
	sha256sums = e7e9e08eb39f501e979d1a68eef1293f113d867d5bdf085c28cfbfadeab697d9

pkgname = flexbv-bin
